<%# main album display %>

<h1><%= account_url %></h1>

<div class="container content-container" ng-controller="MainController">

  <div class="row search-container">
    <div class="search-wrapper">
      <input type="text" class="form-control search-bar" placeholder="http://photophore.com/4Hx21LUxV">
      <p><a class="btn btn-primary btn-md search-button" role="button">Share</a></p>
    </div>
  </div><!-- row search-container -->

  <div class="size-container">
    <div class="row btn-group btn-group-lg size-wrapper">
      <button type="button" class="btn btn-default">300px</button>
      <button type="button" class="btn btn-default">500px</button>
      <button type="button" class="btn btn-default">700px</button>
    </div>
  </div><!-- size-container -->

  <div class="row album-wrapper">
    <% @account.photos.each do |p| %>
      <div class="col-xs-6 col-sm-4">
        <div class="image-wrapper"><%= image_tag p.image.url %></div>
      </div>
    <% end %>
  </div><!-- row album-wrapper -->

</div><!-- container -->

<!-- <div ng-controller="PhotosCtrl">
  <ul>
    <li ng-repeat="photo in photos">
      <h3>{{photo.public_hash}}</h3>
    </li>
  </ul>
</div>

<ul>
  <% @account.photos.each do |p| %>
    <li>
      <h3>photophore.com/i/<%= p.public_hash %></h3><br />
      <%= image_tag p.image.url %>
    </li>
  <% end %>
</ul> -->